.flex-container {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 60vh;
    flex-wrap: wrap;
}

.flex-item-hor {
    width: 10%;
    padding-bottom: 1.5vh;
}

.flex-item-vert {
    width: 50%;
    padding-bottom: 0.5vh;
}

.mistakes {
    position: fixed;
    right: 15vw;
    top: 30vh;
    
}