.flex-container {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 60vh;
    flex-wrap: wrap;
}

.flex-item-hor {
    width: 10%;
    padding-bottom: 1vh;
}

.flex-item-vert {
    width: 50%;
    //padding-bottom: 0.5vh;
}

.flex-color:hover {
    cursor: pointer;
}

.mistakes {
    position: fixed;
    right: 8vw;
    top: 30vh;
    
}

.mistakes > div {
    border: solid 0.1pt lightgrey;
    padding: 0.7vh;
}